
<div layout="column">
    <div class="c-img-x1">
        <div class="u-color-place">
            <div class="Tm">Reflex Service</div>
            <div class="Ts">version 0.3</div>
        </div>
    </div>
</div>

