<div class="u-page-frame">
  <div class="u-page-content-cont">

    <div class="c-header-comm">
      <div class="title">Messages</div>
    </div>

    <div class="c-canvas-tiles" ng-cloak="true">

      <div class="c-tile" ng-repeat="rec in records">

        <div class="c-infolog">
          <div class="c-info-icon-comp">
            <div class="u-year">{{rec.updateTime|strMonthYear}}</div>
            <div class="u-date">{{rec.updateTime|strDate}}</div>
            <div class="u-time">{{rec.updateTime|strTime}}</div>
          </div>
          <div class="c-info-title">{{rec.message}}</div>
          <!--<div class="c-info-subtitle">{{rec.message}}</div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<div class="u-foot-cont">
  <div class="u-foot">
    <div class="c-logo-img"></div>
    <div class="c-copy">&copy; 2017</div>
  </div>
</div>
