/* app css stylesheet */
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

[ng-cloak] {
  display: none;
}

.c-logo-symbol {
  background-color: #00BCD4;
  background-image: url("../images/synapse-bar-icon.png");
}

.c-top-tools {
  color: #999;
}
.c-top-tools .c-chitem {
  padding-left: 10px;
  padding-right: 15px;
}

.u-section-name {
  text-transform: uppercase;
}
.smalllog table {
  width: 100%;
}
  .smalllog table th {
    border-bottom: 2px solid #999;
  }
  .smalllog table tr {
    border-bottom: 1px solid #bababa;
  }
  .smalllog table td {
    padding: 6px;
  }
.u-log-scroll-cont {

}

.c-tab-cont {
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  min-height: 420px;
  width: 100%;
}

  .c-tab-cont .c-btn-block {
    padding: 10px;
    background-color: #f4f4f2;
  }
  .c-tab-cont .tc {
    padding: 10px;
  }


.links-cont {
  padding: 10px;
  padding-top: 15px;
}
  .links-cont .frame-table {
    width: 100%;
  }

  .links-cont .frame-table th {
    border-bottom: 1px solid #eee;
  }
  .links-cont .frame-table .list-item {
    width: 45%;
    vertical-align: top;
    padding-top: 5px;
  }
    .links-cont .frame-table .list-item .c-item {
      font-size: 14px;
      line-height: 14px;
      background: antiquewhite;
      margin-bottom: 3px;
      padding: 18px 21px;
      position: relative;
    }
    .links-cont .frame-table .list-item .c-item .c-item-close {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 16px;
      cursor: pointer;
    }
    .links-cont .frame-table .list-item .c-item .c-item-value {
      position: absolute;
      left: 360px;
      top: 17px;
      font-size: 16px;
    }
  .links-cont .frame-table .link-icon {
    vertical-align: top;
    text-align: center;
  }
    .links-cont .frame-table .link-icon > .icon {
      width: 67px;
      height: 59px;
      background: url(../images/dir-scheme.png);
      margin-left: auto;
      margin-right: auto;
      background-size: 100%;
      margin-top: 3px;
    }

.editor-cont {
  background: #faf8f5;
  padding: 8px;
  min-height: 540px;
  font-size: 17px;
}

.c-header-comm {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 25px;
  padding-left: 0;
}
.c-header .title {
  font-size: 25px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #ABBAC8;
}

.c-nodes-cont {

}
.c-nodes-list {

}
.c-canvas-tiles {
  padding-top: 10px;
  position: relative;
}
.c-tile {
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 18px 15px;
  border-bottom: 1px solid #e8e8e8;
}
.c-tile .c-service {
  background-color: #71c0ba;
  background-image: url('../images/tile-service.png');
  width: 87px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 95px;
  height: 87px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
}
.c-tile .c-counter {
  background-color: #7D8392;
  background-image: url('../images/counter_white.png');
  width: 87px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60px;
  height: 87px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
}
.c-tile .c-info {
  position: relative;
}
.c-tile .c-info .c-info-icon-comp {
  width: 54px;
  height: 54px;
  position: relative;
  padding-right: 15px;
}
.c-tile .c-info .c-info-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.c-tile .c-info .c-icon-sensor {
  background-color: #6682da;
  background-image: url('../images/icon-list-sensor-44.png');
}
.c-tile .c-info .c-icon-handler {
  background-color: #b54892;
  background-image: url('../images/icon-list-actuator-44.png');
}
.c-tile .c-info .c-icon-logic {
  background-color: #1ddffc;
  background-image: url('../images/icon-list-rule-44.png');
}
.c-tile .c-info .c-info-title {
  font-weight: 400;
  font-size: 21px;
  overflow-x: hidden;
  white-space: nowrap;
  color: #423f3f;
  line-height: 28px;
  position: absolute;
  top: -4px;
  left: 67px;
}
.c-tile .c-info .c-info-subtitle {
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  top: 25px;
  left: 67px;
  color: #aaa;
}
.c-tile .c-info .c-info-subtitle strong {
  color: #333;
  font-weight: 300;
  margin-left: 3px;
  margin-right: 10px;
  width: 205px;
  overflow: hidden;
  display: inline-grid;
}
.c-tile .c-info .c-info-value {
  position: absolute;
  right: 15px;
  top: 12px;
  font-weight: 600;
}
.c-tile .c-info .c-info-balance {
  font-weight: 300;
  padding-top: 5px;
  font-size: 13px;
}
.c-tile .c-info .c-info-balance .c-info-dout {
  color: #8E3636;
  font-weight: 600;
  padding-left: 10px;
}
.c-tile .c-info .c-info-balance .c-info-pd {
  color: #548e52;
  font-weight: 600;
  padding-left: 10px;
}
.c-tile .c-info .c-warn {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 16px;
  color: #FFBF00;
}

.c-tile .c-info .c-warn-label {
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 12px;
  color: #ff9d2e;
}
.c-tile .c-info .c-sel-item {
  position: absolute;
  right: 20px;
  top: 20px;
}

.u-btn-toggle > .active, .u-btn-toggle > .inactive {
  font-size:30px;
  cursor:pointer;
}
.u-btn-toggle > i.active {
  color: #5cb85c
}
.u-btn-toggle > i.inactive {
  color: #d9534f
}

.c-infolog {
  position: relative;
}

  .c-infolog .c-info-icon-comp {
    height: 19px;
    position: absolute;
  }

  .c-infolog .u-year {
    position: absolute;
    color: #919ec7;
    font-size: 15px;
    left: 32px;
    top: 0px;
  }

  .c-infolog .u-date {
    font-size: 19px;
    position: absolute;
    letter-spacing: -2px;
    top: 0px;
    text-align: right;
    width: 26px;
  }

  .c-infolog .u-time {
    position: absolute;
    font-size: 19px;
    left: 113px;
    top: 0;
  }

  .c-infolog .c-info-title {
    font-weight: 400;
    font-size: 21px;
    overflow-x: hidden;
    color: #423f3f;
    line-height: 28px;
    margin-left: 225px;
  }


.c-node-cont {
  padding: 18px;
  padding-left: 67px;
}
  .c-node-cont h3 {
    font-weight: 100;
  }

.c-node-prop-cont {

}
.c-node-prop-cont .md-tabs {
  background: #fff;
}
.c-width-cont {
  width: 1010px;
  margin-right: auto;
  margin-left: auto;
}
.c-node-item {
  margin-bottom: 2px;
  padding: 2px 6px;
  cursor: pointer;
}
.u-node-type {
  background-color: #C7C7C7;
  color: #fff;
  border-radius: 3px;
  padding: 0px 4px;
  margin-right: 5px;
}
.u-node-type-sensor {
  background-color: #c79d31;
}
.u-node-type-handler {
  background-color: #620718;
}
.u-node-type-unit, .u-node-type-logic {
  background-color: #9da7ad;
}
.u-node-title {
  font-weight: normal;
}
.c-node-item-curr {
  min-height: 550px;
}
  .c-node-item-curr .u-node-title {
    font-weight: bold;
  }
.u-list-title {
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 4px;
}
.c-editor {
  height: 400px;
  width: 100%;
  border: 1px solid #999;
}

.chart {
  width: 100%;
  height: 300px;
}
.c-img-x1 {
  background-color: #FFFBE7;
  background-image: url('images/img-x1-0.png');
  background-repeat: no-repeat;
  background-size: 25%;
  min-height: 400px;
}
.u-color-place {
  background-color: #AAB2BA;
  height: 55px;
  padding-left: 15px;
  padding-top: 30px;
}
  .u-color-place .Tm {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .u-color-place .Ts {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }

div.CodeMirror pre.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: transparent;
  background: rgba(0, 200, 0, .4);
}
.cm-s-duotone-light .CodeMirror-linenumber {
  color: #e6e4de;
}

/* CSS used here will be applied after bootstrap.css */	/* custom checkboxes */
.custom-checkbox > [type="checkbox"],
.custom-checkbox > label{
  margin-bottom:0px !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-checkbox > [type="checkbox"]:not(:checked),
.custom-checkbox > [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label,
.custom-checkbox > [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0;
  top: 50%;
  margin-top:-9px;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background: #ffffff;
  border-radius: 2px;
}
.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
.custom-checkbox > [type="checkbox"]:checked + label:after {
  font: normal normal normal 12px/1 'Glyphicons Halflings';
  content: '\e013';
  position: absolute;
  top: 50%;
  margin-top:-7px;
  left: 2px;
  color: #4e81c9;
  xtransition: all .2s;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox > [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
  content: '\2212';
  left: 2px;
  opacity: 1;
  transform: scale(1);
}

.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  background-color: #eeeeee;
  border-color: #eeeeee;
  cursor: not-allowed;
  opacity: 1;
  color: #dadada;
}
.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
  color: #dadada; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:disabled + label {
  color: #aaa; cursor: not-allowed;
}
.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #888;
}
.custom-checkbox > label:hover:before {
  border: 1px solid #888 !important;
}
.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
  border: 1px solid #E4E4E4 !important;
}

@media screen and (max-device-width: 601px) and (orientation : portrait){

  .u-content-cont {
    overflow: auto;
  }
  .c-width-cont {
    width: 570px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .c-tile {
    width: 560px;
  }
  .c-illustr {
    width: 165px;
  }
  .c-form-right {
    padding-left: 220px;
  }
}
@media screen and (max-device-width: 962px) and (orientation : landscape){

  .u-content-cont {
    overflow: auto;
  }
  .c-width-cont {
    width: 930px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .c-tile {
    width: 930px;
  }
}