/* Main Menu */


.c-img-x1 {
    background-image: url('../images/bg-x.png');
    background-repeat: no-repeat;
    min-height: 330px;
}
.c-main-textblock {
    position: absolute;
    left: 50px;
    top: 30px;
}
    .c-main-textblock .c-title-icon {
        background-image: url('../images/top-icon.png');
        background-repeat: no-repeat;
        background-size: 40px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
    }

.u-color-place {
    padding-left: 50px;
}
.u-color-place .Tm {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.u-color-place .Ts {
    color: #A7A7A7;
    font-size: 13px;
    text-transform: uppercase;
}