
<div class="c-width-cont">
    <div>

        <section layout="row" layout-sm="column" layout-align="left center">
            <md-button ng-click="saveConfig()">SAVE</md-button>
        </section>

        <h3>Devices</h3>
        <section layout="row">
            <div class="c-editor" ui-ace="{ mode: 'json', theme: 'chrome', onLoad: aceLoaded }" ng-model="devicesScript"></div>
        </section>

        <h3>Logic</h3>
        <section layout="row">
            <div class="c-editor" ui-ace="{ mode: 'javascript', theme: 'chrome', onLoad: aceLoaded }" ng-model="logicNodesScript"></div>
        </section>

    </div>
</div>

