body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d5d4d0;
    color: #595959;
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





/* -- top navigator -- */
.u-top-navigator-cont {
    width: 1600px;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: -webkit-calc(50% - 800px);
    left: calc(50% - 800px);
    background: #f4f4f2;
    height: 70px;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    z-index: 300;
}
.u-top-navigator-cont.scrolled {
    box-shadow: 0 0.32rem 0.32rem 0 rgba(0,0,0,.1);
}
.u-top-navigator-cont::before {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(0,0,0,.1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(0,0,0,.1));
    left: -webkit-calc(50% - 819px);
    left: calc(50% - 819px);
}
.u-top-navigator-cont::after {
    background: -webkit-linear-gradient(right,rgba(255,255,255,0),rgba(0,0,0,.1));
    background: linear-gradient(to left,rgba(255,255,255,0),rgba(0,0,0,.1));
    right: -webkit-calc(50% - 820px);
    right: calc(50% - 820px);
}
.u-top-navigator-cont::after, .u-top-navigator-cont::before {
    content: '';
    display: block;
    height: 100vw;
    position: absolute;
    top: 0;
    width: 1.2rem;
}

.u-top-navigator {
    height: 50px;
    position: relative;
    width: 1295px;
    margin-left: auto;
    margin-right: auto;
}

.u-top-navigator {
    /*border-bottom: 1px solid #C5C5C5;
    box-shadow: 0px 0 8px #DCDCDC;*/
    height: 50px;
    position: relative;
}
    .u-top-navigator .c-logo-symbol {
        position: absolute;
        background-color: #00BCD4;
        height: 31px;
        width: 31px;
        background-size: 100%;
        top: 18px;
        left: 2px;
    }

    .u-top-navigator .c-logo-name {
        position: absolute;
        height: 50px;
        left: 31px;
        top: 10px;
        width: initial;
        /*border-right: 1px solid #c5c5c5;*/
    }
    .u-top-navigator .c-logo-name .c-logo-cn {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 9px;
        position: relative;
    }
    .u-top-navigator .c-logo-name .logo-name-m {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -2px;
        line-height: 25px;
    }
    .u-top-navigator .c-logo-name .logo-name-sf {
        font-variant: small-caps;
        top: -8px;
        font-size: 14px;
        color: #999;
    }

    .u-top-navigator .c-menu {
        position: absolute;
        top: 6px;
        left: 263px;
        height: 50px;
        padding-left: 10px;
    }

        .u-top-navigator .c-menu .c-menu-item {
            display: inline-block;
            padding-right: 10px;
            height: 48px;
            padding-top: 15px;
            padding-left: 10px;
            margin-left: 0;
        }
        .u-top-navigator .c-menu .c-menu-item a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            color: #6D6D6D;
            text-shadow: 0 0 2px #D4D3D3;
        }
        .u-top-navigator .c-menu .c-menu-item a:hover {
            color: #171718;
        }


/*.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.menu > li {
    display: inline;
    padding-right: 20px;
}

.menu > li:before {
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.u-menu-top {
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #E4E4E4;
}
.u-menu-top a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
}
.u-menu-top a:hover {
    color: #171718;
}*/


/* -- content -- */
.u-content-cont {
    padding-left: 152px;
    padding-right: 153px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: transform .75s linear;
    transition: transform .75s linear;
    width: 1600px;
    min-height: calc(100vh - 7.8rem - 7.4rem);
    position: relative;
    top: 0;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 50px;
}
.u-page-frame {
    background-color: #fff;
    min-height: 700px;
}
.u-page-content-cont {
    position: relative;
    width: 1295px;
}

/* -- typing -- */
.c-header-comm .title {
    font-size: 28px;
    line-height: 29px;
    letter-spacing: -1px;
    color: #404041;
}


/* -- footer -- */
.u-foot-cont {
    background: #f4f4f2;
    clear: both;
    min-height: 160px;
    position: relative;
    width: 1601px;
    left: -webkit-calc(50% - 800px);
    left: calc(50% - 800px);
    margin-top: 30px;
    padding-left: 152px;
    padding-right: 153px;
}

    .u-foot-cont .u-foot {
        min-height: 6.4rem;
        padding: 1rem 0;
        position: relative;
        width: 1295px;
        margin-top: 30px;
    }

    .u-foot-cont .u-foot .c-logo-img {
        background-image: url('../../images/synapse_logo.png');
        width: 120px;
        height: 53px;
        position: absolute;
        left: 0px;
        top: 25px;
    }

    .u-foot-cont .u-foot .c-copy {
        position: absolute;
        left: 123px;
        top: 40px;
        color: #535f77;
        font-size: 15px;
        letter-spacing: -1px;
    }