<div class="u-page-frame">
    <div class="u-page-content-cont">

        <div class="c-header-comm">
            <div class="title">List of Devices</div>
        </div>

		<div style="padding: 20px 0;">
			Rule ID: <input type="text" ng-model="newNodeId">
			<button ng-click="createNewRule()">Create New Rule</button>
		</div>

        <div class="c-top-tools">
            Show types:
            <span class="c-chitem custom-checkbox"><input type="checkbox" ng-model="showTypes[0]"><label ng-click="showTypes[0]=!showTypes[0]">Sensors</label></span>
            <span class="c-chitem custom-checkbox"><input type="checkbox" ng-model="showTypes[1]"><label ng-click="showTypes[1]=!showTypes[1]">Handler</label></span>
            <span class="c-chitem custom-checkbox"><input type="checkbox" ng-model="showTypes[2]"><label ng-click="showTypes[2]=!showTypes[2]">Rules</label></span>
            <span class="c-chitem custom-checkbox"><input type="checkbox" ng-model="showTypes[3]"><label ng-click="showTypes[3]=!showTypes[3]">Selected</label></span>
        </div>

        <div class="c-canvas-tiles" ng-cloak="true">

            <div class="c-tile" ng-repeat="node in allnodes | matchTypes:showTypes | orderBy: ['name']"  ng-class="{'c-node-item-curr':node.expanded}">

                <div class="c-info">
                    <div class="c-info-icon" ng-class="getNodeTypeClass(node)"></div>
                    <div class="c-info-title" ng-click="setCurrentNode(node)">{{node.name}}</div>
                    <div class="c-info-subtitle">ID: <strong>{{node.id}}</strong> Value: <strong>{{node.value}}</strong> Updated:<strong>{{node.timeOfLastUpdate|date:'yyyy-MM-dd HH:mm:ss'}}</strong></div>
                    <div class="c-warn-label" ng-hide="node.initialized">WARNING</div>
                    <div class="c-sel-item">
                        <div class="u-btn-toggle">
                            <i class="fa fa-toggle-on active" ng-if="node.selected == true" ng-click="selectedToggle(node);"></i>
                            <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="node.selected == false" ng-click="selectedToggle(node);"></i>
                        </div>
                    </div>
                </div>


                <div class="c-node-cont" ng-show="node.expanded">
                    <div>
                        <uib-tabset active="active">
                            <uib-tab index="0" heading="Changes">
                                <div class="c-tab-cont">

                                    <div ng-show="node.type=='handler'" class="c-btn-block">
                                        <button class="btn btn-primary" ng-click="switchOn(node)">On</button>
                                        <button class="btn btn-primary" ng-click="switchOff(node)">Off</button>
                                    </div>

                                    <highchart config="node.chartData"></highchart>

                                </div>
                            </uib-tab>

                            <uib-tab index="2" heading="Config" select="tabRuleSelected()">
                                <div class="c-tab-cont">

                                    <div class="c-btn-block">
                                        <button class="btn btn-primary" ng-click="saveScript(node)" ng-show="node.type=='logic'">Save Script</button>
                                        <button class="btn btn-default" ng-click="addObservedNode(node)"  ng-hide="node.type=='sensor'">Add Observed</button>
                                    </div>

                                    <div class="links-cont">
                                        <table class="frame-table">
                                            <tr>
                                                <th>Observed</th>
                                                <th></th>
                                                <th>Observers</th>
                                            </tr>
                                            <tr>
                                                <td class="list-item">
                                                    <div class="c-item c-item-obd" ng-repeat="observer in node.observed | orderBy:'id'">{{observer.id}}
                                                        <div class="c-item-value"><strong title="{{observer.timeOfLastUpdate|date:'yyyy-MM-dd HH:mm:ss'}}">{{observer.value}}</strong></div>
                                                        <div class="c-item-close" ng-click="deleteObserved(node,observer.id)"><i class="fa fa-times" aria-hidden="true"></i></div>
                                                    </div>
                                                </td>
                                                <td class="link-icon">
                                                    <div class="icon"></div>
                                                </td>
                                                <td class="list-item">
                                                    <div class="c-item c-item-obs" ng-repeat="observer in node.observes | orderBy:'id'">{{observer.id}}
                                                        <div class="c-item-value"><strong title="{{observer.timeOfLastUpdate|date:'yyyy-MM-dd HH:mm:ss'}}">{{observer.value}}</strong></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="tc" ng-show="node.type=='logic'">
                                        <div class="editor-cont">
                                            <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="node.nodeDescription.script" ui-refresh='isRefreshEditor'></ui-codemirror>
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="u-foot-cont">
    <div class="u-foot">
        <div class="c-logo-img"></div>
        <div class="c-copy">&copy; 2017</div>
    </div>
</div>


<script type="text/ng-template" id="addNodeLink.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Observed</h3>
    </div>
    <div class="modal-body">

        <div>
            <label>Add observed:</label>
            <select style="width: 100%;" ng-model="$ctrl.observed" ng-options="p.id as p.id + ' --- ' + p.name for p in $ctrl.nodes| orderBy:'id'"></select>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Add</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>


